# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Bb]in_debug/
[Oo]bj/
[Ll]og/
.vs/
*.Debug
*.Release

# Dont ignore opencv lib/dll
!Blink/Tools/opencv3/**
!Blink/Tools/DLSegmentation/**

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

Makefile
*.sdf
*.sln
*.bak
*.obj
*.vcxproj
*.vcxproj.filters
*.qm
*.vsp
*.psess
*.pdb
*.opensdf
*.ilk
*.manifest
*.exp

# Precompiled Headers
*.gch
*.pch

# Qt
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*moc*.cbt

# Windows-specific files
Thumbs.db
desktop.ini

.qmake.stash
